    
extends layout

block content

    div(class="container", style="height: 1213px;")
        h1!= "Create a Playlist"
        p!= "Type a playlist name and click on 'Create'."
        form(id="playlist-form")
            input(type="text" id="queryplay" value="" class="form-control" placeholder="Type Playlist title")
            input(type="submit" id="createplaylit" class="btn btn-primary" value="Create")
        h1!= "Search for an Artist"
        p!= "Type an artist name and click on 'Search'. Then, click on any album from the results to play 30 seconds of its first track if available."
        form(id="search-form")
            input(type="text" id="query" value="" class="form-control" placeholder="Type an Artist Name")
            input(type="submit" id="search" class="btn btn-primary" value="Search")
        
        form(id="playlistfill-form")
            div(id="playlistres")
                script(id="playlistres-template" type="text/x-handlebars-template")
                    <select name="playSelect" type="text" id="playSelect" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px" placeholder="Select Playlist">
                    <option value="select playlist">Select Playlist</option>
                    {{#each items}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                    </select>
            div(id="results")
                script(id="results-template" type="text/x-handlebars-template")
                    {{#each albums.items}}
                    <div style="/*background-image:url({{images.0.url}})*/" data-album-id="{{id}}" class="covering"><img data-album-id="{{id}}" src="{{images.0.url}}" width="100px" height="100px" class="cover"/><input type="checkbox" name="add" value="{{id}}" class="add" /><select name="mood" type="text" id="mood" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px;width: 75px;margin: 5px;height: 30px;" placeholder="Mood"><option value="wayup">Mood</option><option value="wayup">Way Up</option><option value="up">Up</option></select></div>
                    {{/each}}
            input(type="submit" style="margin: 0 auto; display: none;" id="addtoplaylist" class="btn btn-primary" value="Add to Playlist")

    script.
        var bearer = "Bearer " + "#{access_token}";
        // find template and compile it
        var templateSource = document.getElementById('results-template').innerHTML,
            template = Handlebars.compile(templateSource),
            resultsPlaceholder = document.getElementById('results'),
            playingCssClass = 'playing',
            noplayingClass = "cannotplay",
            audioObject = null,
            templateSourceplay = document.getElementById('playlistres-template').innerHTML,
            templateplay = Handlebars.compile(templateSourceplay),
            playlistresPlaceholder = document.getElementById('playlistres');

        var fetchTracks = function (albumId, callback) {
            $.ajax({
                url: 'https://api.spotify.com/v1/albums/' + albumId,
                headers: {'Authorization': bearer},
                success: function (response) {
                    callback(response);
                }
            });
        };

        var searchAlbums = function (query) {
            console.log("looking for albums");
            console.log("access: " + bearer);
            $.ajax({
                url: 'https://api.spotify.com/v1/search',
                headers: {'Authorization': bearer},
                data: {
                    q: query,
                    type: 'album'
                },
                success: function (response) {
                    var res = {};
                    res.jeux = [];
                    //console.log("response albums items: " + response.items.length);
                    console.log("response albums items0: " + response.size());
                    for(var item in response){
                        res.push(
                    fetchTracks(item.id, function (data) {
                        res.jeux.push(data.tracks.items);
                    })
                        );
                        console.log("jeux length: " + res.jeux.length);
                        console.log("res length: " + res.length);

                    }
                    resultsPlaceholder.innerHTML = template(response);
                    console.log("success albums: " + resultsPlaceholder.innerHTML);
                }
            });
        };

        var searchPlaylists = function () {
            console.log("looking for playlists");
            console.log("access token in playlists: " + bearer);
            $.ajax({
                url: 'https://api.spotify.com/v1/me/playlists',
                headers: {'Authorization': bearer},
                success: function (response) {
                    playlistresPlaceholder.innerHTML = templateplay(response);
                    console.log("success play: " + playlistresPlaceholder.innerHTML );
                }
            });
        };

        results.addEventListener('click', function (e) {
            var target = e.target;
            if (target !== null && target.classList.contains('cover')) {
                if (target.classList.contains(playingCssClass)) {
                    audioObject.pause();
                } else {
                    if (audioObject) {
                        audioObject.pause();
                    }
                    fetchTracks(target.getAttribute('data-album-id'), function (data) {
                        var preview = data.tracks.items[0].preview_url;
                        if(preview != null){
                        audioObject = new Audio(preview);
                        audioObject.play();
                        target.classList.add(playingCssClass);
                        audioObject.addEventListener('ended', function () {
                            target.classList.remove(playingCssClass);
                        });
                        audioObject.addEventListener('pause', function () {
                            target.classList.remove(playingCssClass);
                        });
                        } else {
                            target.classList.add(noplayingClass);
                        }
                    });
                }
            }
        });

        document.getElementById('search-form').addEventListener('submit', function (e) {
            e.preventDefault();
            document.getElementById('addtoplaylist').style.display = "block";
            searchAlbums(document.getElementById('query').value);
            searchPlaylists();
        }, false);